# PROJECT-4 :
# Title: Weather Data for COVID-19 Data Analysis

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
set = pd.read_csv(r'C:\Users\Talar\OneDrive\Desktop\python\python\training_data_with_weather_info_week_1.csv.zip')

In [6]:
set.head()

,Id,Province/State,Country/Region,Lat,Long,Date,ConfirmedCases,Fatalities,day_from_jan_first,temp,min,max,stp,slp,dewp,rh,ah,wdsp,prcp,fog
0,1,NaN,Afghanistan,33.0,65.0,2020-01-22,0.0,0.0,22,42.6,33.6,54.9,999.9,1024.3,27.4,0.545709,0.186448,9.4,0.00,0
1,2,NaN,Afghanistan,33.0,65.0,2020-01-23,0.0,0.0,23,42.0,32.7,55.9,999.9,1020.8,22.8,0.461259,0.163225,14.9,99.99,1
2,3,NaN,Afghanistan,33.0,65.0,2020-01-24,0.0,0.0,24,40.1,36.9,43.2,999.9,1018.6,34.5,0.801794,0.325375,10.4,0.17,1
3,4,NaN,Afghanistan,33.0,65.0,2020-01-25,0.0,0.0,25,46.0,37.9,56.3,999.9,1018.0,37.8,0.728175,0.214562,6.1,0.57,1
4,5,NaN,Afghanistan,33.0,65.0,2020-01-26,0.0,0.0,26,42.8,36.1,53.1,999.9,1014.8,33.2,0.685513,0.231656,10.8,0.00,1

In [7]:
set.head(10)

,Id,Province/State,Country/Region,Lat,Long,Date,ConfirmedCases,Fatalities,day_from_jan_first,temp,min,max,stp,slp,dewp,rh,ah,wdsp,prcp,fog
0,1,NaN,Afghanistan,33.0,65.0,2020-01-22,0.0,0.0,22,42.6,33.6,54.9,999.9,1024.3,27.4,0.545709,0.186448,9.4,0.00,0
1,2,NaN,Afghanistan,33.0,65.0,2020-01-23,0.0,0.0,23,42.0,32.7,55.9,999.9,1020.8,22.8,0.461259,0.163225,14.9,99.99,1
2,3,NaN,Afghanistan,33.0,65.0,2020-01-24,0.0,0.0,24,40.1,36.9,43.2,999.9,1018.6,34.5,0.801794,0.325375,10.4,0.17,1
3,4,NaN,Afghanistan,33.0,65.0,2020-01-25,0.0,0.0,25,46.0,37.9,56.3,999.9,1018.0,37.8,0.728175,0.214562,6.1,0.57,1
4,5,NaN,Afghanistan,33.0,65.0,2020-01-26,0.0,0.0,26,42.8,36.1,53.1,999.9,1014.8,33.2,0.685513,0.231656,10.8,0.00,1
5,6,NaN,Afghanistan,33.0,65.0,2020-01-27,0.0,0.0,27,43.0,36.5,50.7,999.9,1015.7,35.6,0.748685,0.250325,3.7,0.04,0
6,7,NaN,Afghanistan,33.0,65.0,2020-01-28,0.0,0.0,28,41.7,34.7,48.2,999.9,1016.9,34.7,0.759514,0.273882,2.4,0.00,0
7,8,NaN,Afghanistan,33.0,65.0,2020-01-29,0.0,0.0,29,15.2,13.3,16.9,774.1,1024.7,0.2,0.509437,-0.035773,2.4,0.00,0
8,9,NaN,Afghanistan,33.0,65.0,2020-01-30,0.0,0.0,30,15.2,13.3,16.9,774.1,1024.7,0.2,0.509437,-0.035773,2.4,0.00,0
9,10,NaN,Afghanistan,33.0,65.0,2020-01-31,0.0,0.0,31,5.6,4.8,7.7,774.4,1031.0,-0.6,0.751688,-0.021931,1.9,0.00,1

In [8]:
set.tail()

,Id,Province/State,Country/Region,Lat,Long,Date,ConfirmedCases,Fatalities,day_from_jan_first,temp,min,max,stp,slp,dewp,rh,ah,wdsp,prcp,fog
17887,26378,NaN,Zambia,-15.4167,28.2833,2020-03-20,2.0,0.0,80,70.6,62.6,81.9,999.9,NaN,62.8,0.761545,0.198068,6.0,0.00,0
17888,26379,NaN,Zambia,-15.4167,28.2833,2020-03-21,2.0,0.0,81,71.3,66.2,81.5,999.9,NaN,65.3,0.812047,0.212487,7.1,99.99,1
17889,26380,NaN,Zambia,-15.4167,28.2833,2020-03-22,3.0,0.0,82,72.1,67.1,80.4,999.9,NaN,66.7,0.829815,0.218712,5.0,99.99,1
17890,26381,NaN,Zambia,-15.4167,28.2833,2020-03-23,3.0,0.0,83,71.7,66.2,80.6,999.9,NaN,62.8,0.733343,0.192580,4.2,0.00,0
17891,26382,NaN,Zambia,-15.4167,28.2833,2020-03-24,3.0,0.0,84,72.6,60.3,84.2,999.9,NaN,62.0,0.691204,0.183033,6.4,0.00,1

In [9]:
set.shape

(17892, 20)

In [10]:
set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17892 entries, 0 to 17891
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Id                  17892 non-null  int64
 1   Province/State      8190 non-null   object
 2   Country/Region      17892 non-null  object
 3   Lat                 17892 non-null  float64
 4   Long                17892 non-null  float64
 5   Date                17892 non-null  object
 6   ConfirmedCases      17892 non-null  float64
 7   Fatalities          17892 non-null  float64
 8   day_from_jan_first  17892 non-null  int64
 9   temp                17892 non-null  float64
 10  min                 17755 non-null  float64
 11  max                 17876 non-null  float64
 12  stp                 17892 non-null  float64
 13  slp                 10945 non-null  float64
 14  dewp                17274 non-null  float64
 15  rh                  17274 non-null  float64
 16  ah                  17274 non-null  float64
 17  wdsp                17892 non-null  float64
 18  prcp                17892 non-null  float64
 19  fog                 17892 non-null  int64
dtypes: float64(14), int64(3), object(3)
memory usage: 2.7+ MB

In [11]:
set.describe()

,Id,Lat,Long,ConfirmedCases,Fatalities,day_from_jan_first,temp,min,max,stp,slp,dewp,rh,ah,wdsp,prcp,fog
count,17892.000000,17892.000000,17892.000000,17892.000000,17892.000000,17892.00000,17892.000000,17755.000000,17876.000000,17892.000000,10945.000000,17274.000000,17274.000000,1.727400e+04,17892.000000,17892.000000,17892.000000
mean,13191.500000,26.287693,4.766191,325.207523,11.974737,53.00000,54.849313,45.630262,64.380191,702.306416,1016.581023,42.353630,0.665443,inf,25.521104,7.826334,0.336631
std,7624.675152,22.935092,79.923261,3538.599684,174.346267,18.18475,22.306125,22.900739,22.310919,428.769343,8.490953,22.399517,0.191092,NaN,136.295573,26.740543,0.472571
min,1.000000,-41.454500,-157.498300,0.000000,0.000000,22.00000,-27.200000,-45.400000,-23.800000,0.000000,968.900000,-33.100000,0.053782,-2.374315e+01,0.000000,0.000000,0.000000
25%,6596.250000,13.145425,-71.516375,0.000000,0.000000,37.00000,38.800000,30.200000,47.500000,20.700000,1011.300000,27.000000,0.560904,1.161556e-01,3.500000,0.000000,0.000000
50%,13191.500000,32.985550,9.775000,0.000000,0.000000,53.00000,53.900000,44.400000,64.800000,976.600000,1016.000000,40.800000,0.704800,1.932966e-01,5.600000,0.000000,0.000000
75%,19786.750000,42.501575,64.688975,10.000000,0.000000,69.00000,76.800000,67.500000,84.600000,999.900000,1021.600000,63.500000,0.801220,2.329961e-01,8.700000,0.030000,1.000000
max,26382.000000,71.706900,174.886000,69176.000000,6820.000000,84.00000,97.300000,88.200000,109.600000,999.900000,1051.700000,81.100000,1.000000,inf,999.900000,99.990000,1.000000

In [12]:
set.isnull

<bound method DataFrame.isnull of           Id Province/State Country/Region      Lat     Long        Date  \
0          1            NaN    Afghanistan  33.0000  65.0000  2020-01-22
1          2            NaN    Afghanistan  33.0000  65.0000  2020-01-23
2          3            NaN    Afghanistan  33.0000  65.0000  2020-01-24
3          4            NaN    Afghanistan  33.0000  65.0000  2020-01-25
4          5            NaN    Afghanistan  33.0000  65.0000  2020-01-26
...      ...            ...            ...      ...      ...         ...
17887  26378            NaN         Zambia -15.4167  28.2833  2020-03-20
17888  26379            NaN         Zambia -15.4167  28.2833  2020-03-21
17889  26380            NaN         Zambia -15.4167  28.2833  2020-03-22
17890  26381            NaN         Zambia -15.4167  28.2833  2020-03-23
17891  26382            NaN         Zambia -15.4167  28.2833  2020-03-24

       ConfirmedCases  Fatalities  day_from_jan_first  temp   min   max  \
0                 0.0         0.0                  22  42.6  33.6  54.9
1                 0.0         0.0                  23  42.0  32.7  55.9
2                 0.0         0.0                  24  40.1  36.9  43.2
3                 0.0         0.0                  25  46.0  37.9  56.3
4                 0.0         0.0                  26  42.8  36.1  53.1
...               ...         ...                 ...   ...   ...   ...
17887             2.0         0.0                  80  70.6  62.6  81.9
17888             2.0         0.0                  81  71.3  66.2  81.5
17889             3.0         0.0                  82  72.1  67.1  80.4
17890             3.0         0.0                  83  71.7  66.2  80.6
17891             3.0         0.0                  84  72.6  60.3  84.2

         stp     slp  dewp        rh        ah  wdsp   prcp  fog
0      999.9  1024.3  27.4  0.545709  0.186448   9.4   0.00    0
1      999.9  1020.8  22.8  0.461259  0.163225  14.9  99.99    1
2      999.9  1018.6  34.5  0.801794  0.325375  10.4   0.17    1
3      999.9  1018.0  37.8  0.728175  0.214562   6.1   0.57    1
4      999.9  1014.8  33.2  0.685513  0.231656  10.8   0.00    1
...      ...     ...   ...       ...       ...   ...    ...  ...
17887  999.9     NaN  62.8  0.761545  0.198068   6.0   0.00    0
17888  999.9     NaN  65.3  0.812047  0.212487   7.1  99.99    1
17889  999.9     NaN  66.7  0.829815  0.218712   5.0  99.99    1
17890  999.9     NaN  62.8  0.733343  0.192580   4.2   0.00    0
17891  999.9     NaN  62.0  0.691204  0.183033   6.4   0.00    1

[17892 rows x 20 columns]>

In [13]:
set.isnull().sum()

Id                       0
Province/State        9702
Country/Region           0
Lat                      0
Long                     0
Date                     0
ConfirmedCases           0
Fatalities               0
day_from_jan_first       0
temp                     0
min                    137
max                     16
stp                      0
slp                   6947
dewp                   618
rh                     618
ah                     618
wdsp                     0
prcp                     0
fog                      0
dtype: int64

# Which countries or regions have the highest and lowest total confirmed cases and fatalities

In [15]:
set.head()

,Id,Province/State,Country/Region,Lat,Long,Date,ConfirmedCases,Fatalities,day_from_jan_first,temp,min,max,stp,slp,dewp,rh,ah,wdsp,prcp,fog
0,1,NaN,Afghanistan,33.0,65.0,2020-01-22,0.0,0.0,22,42.6,33.6,54.9,999.9,1024.3,27.4,0.545709,0.186448,9.4,0.00,0
1,2,NaN,Afghanistan,33.0,65.0,2020-01-23,0.0,0.0,23,42.0,32.7,55.9,999.9,1020.8,22.8,0.461259,0.163225,14.9,99.99,1
2,3,NaN,Afghanistan,33.0,65.0,2020-01-24,0.0,0.0,24,40.1,36.9,43.2,999.9,1018.6,34.5,0.801794,0.325375,10.4,0.17,1
3,4,NaN,Afghanistan,33.0,65.0,2020-01-25,0.0,0.0,25,46.0,37.9,56.3,999.9,1018.0,37.8,0.728175,0.214562,6.1,0.57,1
4,5,NaN,Afghanistan,33.0,65.0,2020-01-26,0.0,0.0,26,42.8,36.1,53.1,999.9,1014.8,33.2,0.685513,0.231656,10.8,0.00,1

In [30]:
region_data = set.groupby('Country/Region')[['ConfirmedCases', 'Fatalities']].sum()

In [31]:
highest_confirmed = region_data['ConfirmedCases'].idxmax()     #here idmax is defining the highest cases
highest_fatalities = region_data['Fatalities'].idxmax()

In [32]:
lowest_confirmed = region_data['ConfirmedCases'].idxmin()    #here idmin is defining the lowest cases
lowest_fatalities = region_data['Fatalities'].idxmin()

In [33]:
print(f"region with highest confirmed cases: {highest_confirmed}")
print(f"region with lowest confirmed cases: {lowest_confirmed}")
print(f"region with highest fatalities cases: {highest_fatalities}")
print(f"region with lowest confirmed cases: {lowest_confirmed}")

region with highest confirmed cases: China
region with lowest confirmed cases: Aruba
region with highest fatalities cases: China
region with lowest confirmed cases: Aruba

# Is there a correlation between temperature (temp) and the number of confirmed cases or fatalities

In [34]:
set.head()

,Id,Province/State,Country/Region,Lat,Long,Date,ConfirmedCases,Fatalities,day_from_jan_first,temp,min,max,stp,slp,dewp,rh,ah,wdsp,prcp,fog
0,1,NaN,Afghanistan,33.0,65.0,2020-01-22,0.0,0.0,22,42.6,33.6,54.9,999.9,1024.3,27.4,0.545709,0.186448,9.4,0.00,0
1,2,NaN,Afghanistan,33.0,65.0,2020-01-23,0.0,0.0,23,42.0,32.7,55.9,999.9,1020.8,22.8,0.461259,0.163225,14.9,99.99,1
2,3,NaN,Afghanistan,33.0,65.0,2020-01-24,0.0,0.0,24,40.1,36.9,43.2,999.9,1018.6,34.5,0.801794,0.325375,10.4,0.17,1
3,4,NaN,Afghanistan,33.0,65.0,2020-01-25,0.0,0.0,25,46.0,37.9,56.3,999.9,1018.0,37.8,0.728175,0.214562,6.1,0.57,1
4,5,NaN,Afghanistan,33.0,65.0,2020-01-26,0.0,0.0,26,42.8,36.1,53.1,999.9,1014.8,33.2,0.685513,0.231656,10.8,0.00,1

In [36]:
df_clean = set.dropna(subset=['temp', 'ConfirmedCases', 'Fatalities'])

In [39]:
correlation_temp_cases = df_clean['temp'].corr(df_clean['ConfirmedCases'])
correlation_temp_fatalities = df_clean['temp'].corr(df_clean['Fatalities'])

In [40]:
print(f"Correlation between temperature and confirmed cases: {correlation_temp_cases}")
print(f"Correlation between temperature and fatalities: {correlation_temp_fatalities}")

Correlation between temperature and confirmed cases: -0.011405281520436754
Correlation between temperature and fatalities: -0.0050232493589645695